{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="full_page_photo" style="background-image: url({% static 'images/portfolio/p3.jpg' %});"> </div>
    <div class="main">
    <div class="container triangles-of-section">
        <div class="triangle-up-left"></div>
        <div class="square-left"></div>
        <div class="triangle-up-right"></div>
        <div class="square-right"></div>
    </div>
    <section class="with_right_sidebar">
        <div class="container">
            <h1 class="section_header elegant">{{ post.title }}<small><i class="fa-time"></i> {{ post.created_on.date }} |&nbsp;
                دسته بندی:&nbsp;
                {% for category in post.categories.all %}
                    <a href="{% url 'blog:blog_category' category.name %}">
                        {{ category.name }} &nbsp;
                    </a>&nbsp
                {% endfor %}
                <a href="#post_comments"><i class="fa-comments-alt"></i> 6 نظر</a></small></h1>
            <div class="row">
                <div id="leftcol" class="col-sm-8 col-md-8">
                    <article class="post">
                        <div class="post_content">
                            <p>{{ post.body | linebreaks }}</p>
                            <blockquote>
                                <p>{{ post.body | linebreaks }}</p>
                            </blockquote>
                        </div>
                    </article>
                    <!-- Posting Comment -->
                    {#                              <div id="post_comments">#}
                    {#                                   <h4>نظرات</h4>#}
                    {#                                   <div class="comment">#}
                    {#                                        <div class="row">#}
                    {#                                             <figure class="col-sm-2 col-md-2"> <img class="img-circle" src="images/1as.jpg" alt=""> </figure>#}
                    {#                                             <div class="col-sm-10 col-md-10">#}
                    {#                                                  <div class="comment_name">  جانی بایکوت <a class="reply" href="#">پاسخ</a> </div>#}
                    {#                                                  <div class="comment_date"><i class="fa-time"></i> دوم اردیبهشت</div>#}
                    {#                                                  <div class="the_comment">#}
                    {#                                                       <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>#}
                    {#                                                  </div>#}
                    {#                                             </div>#}
                    {#                                        </div>#}
                    {#                                   </div>#}
                    {#                              </div>#}
                    {#                              <div class="new_comment">#}
                    {#                                   <h4>نظر خود را اضافه کنید</h4>#}
                    {#                                   <form>#}
                    {#                                        <div class="row">#}
                    {#                                             <div class="col-sm-6 col-md-4">#}
                    {#                                                  <input class="form-control" name="name" placeholder="نام" type="text">#}
                    {#                                             </div>#}
                    {#                                             <div class="col-sm-6 col-md-4">#}
                    {#                                                  <input class="form-control" name="email" placeholder="ایمیل" type="text">#}
                    {#                                             </div>#}
                    {#                                        </div>#}
                    {#                                        <div class="row">#}
                    {#                                             <div class="col-sm-12 col-md-8"><br/>#}
                    {#                                                  <textarea rows="7" placeholder="نظر" class="form-control"></textarea>#}
                    {#                                             </div>#}
                    {#                                        </div>#}
                    {#                                        <div class="row"><br/>#}
                    {#                                             <div class="col-sm-12 col-md-8"> <a class="btn send btn-primary" href="#">ارسال نظر</a> </div>#}
                    {#                                        </div>#}
                    {#                                   </form>#}
                    {#                              </div>#}
                </div>
                <div id="sidebar" class="col-sm-4 col-md-4">
                    <aside class="widget">
                        <h4>ویجت متنی</h4>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیستری را برای طراحان رایانه ای و</p>
                    </aside>
                    <aside class="widget ads clearfix">
                        <h4>تبلیغات</h4>
                        <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a> <a href="#"><img src="http://placehold.it/110" alt=""></a> </aside>
                    <aside class="widget">
                        <h4>تب ها</h4>
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a data-toggle="tab" href="#recent">اخیر</a></li>
                            <li class=""><a data-toggle="tab" href="#tags">برچسب ها</a></li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div id="recent" class="tab-pane fade active in">
                                <ul class="media-list">
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/t5.jpg)"></a> <a href="#" class="media-date">19<span>مرداد</span></a>
                                        <h5 class="media-heading"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم...</a></h5>
                                        <p> حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت...</p>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/t4.jpg)"></a> <a href="#" class="media-date">18<span>تیر</span></a>
                                        <h5 class="media-heading"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم...</a></h5>
                                        <p> حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت...</p>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/b3.jpg)"></a> <a href="#" class="media-date">17<span>شهریور</span></a>
                                        <h5 class="media-heading"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم...</a></h5>
                                        <p> حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت...</p>
                                    </li>
                                    <li class="media"> <a href="#" class="media-photo" style="background-image:url(images/portfolio/b4.jpg)"></a> <a href="#" class="media-date">16<span>خرداد</span></a>
                                        <h5 class="media-heading"><a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم...</a></h5>
                                        <p> حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت...</p>
                                    </li>
                                </ul>
                            </div>
                            <div id="tags" class="tab-pane fade"> <a class="label label-default">پیش فرض</a> <a class="label label-primary">اصلی</a> <a class="label label-success">موفق</a> <a class="label label-warning">اخطار</a> <a class="label label-danger">خطر</a> <a class="label label-info">اطلاعات</a> <a class="label label-default">پیش فرض</a> <a class="label label-success">موفق</a> <a class="label label-danger">خطر</a> <a class="label label-info">اطلاعات</a> <a class="label label-default">پیش فرض</a> <a class="label label-success">موفق</a> <a class="label label-success">موفق</a> <a class="label label-warning">اخطار</a> <a class="label label-danger">خطر</a> <a class="label label-warning">خطر</a> <a class="label label-warning">Warning</a> <a class="label label-danger">اخطار</a> <a class="label label-info">Info</a> <a class="label label-inverse">Inverse</a> </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
</div>
</body>
</html>