{% extends 'base-sanje.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}صفحه مورد نظر پیدا نشد!{% endblock %}</title>
</head>

<body class=" shopbybrand-index-view">
{% block page_content  %}
    <div class="page" id="page-container" >
    <div class="page">
    <div class="main-container col2-right-layout">
    <div class="main">
        <p>
            <strong>
            متاسفانه صفحه مورد نظر شما یافت نشد.
            </strong>
        </p>
    </div>

{% endblock %}
</body>
</html>